SISTEMAS DISTRIBUIDOS/PRACTICAS/4. Guiada Servicios Web/Cliente/Converter.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:ns0="http://master" xmlns:ns1="http://org.apache.axis2/xsd" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:xs="http://www.w3.org/2001/XMLSchema" targetNamespace="http://master">
    <wsdl:documentation>Converter</wsdl:documentation>
    <wsdl:types>
        <xs:schema xmlns:ns="http://master" attributeFormDefault="qualified" elementFormDefault="qualified" targetNamespace="http://master">
            <xs:element name="celsiusToFarenheit">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="celsius" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="celsiusToFarenheitResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="farenheitToCelsius">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="farenheit" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
            <xs:element name="farenheitToCelsiusResponse">
                <xs:complexType>
                    <xs:sequence>
                        <xs:element minOccurs="0" name="return" type="xs:float"/>
                    </xs:sequence>
                </xs:complexType>
            </xs:element>
        </xs:schema>
    </wsdl:types>
    <wsdl:message name="farenheitToCelsiusRequest">
        <wsdl:part element="ns0:farenheitToCelsius" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="farenheitToCelsiusResponse">
        <wsdl:part element="ns0:farenheitToCelsiusResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="celsiusToFarenheitRequest">
        <wsdl:part element="ns0:celsiusToFarenheit" name="parameters"/>
    </wsdl:message>
    <wsdl:message name="celsiusToFarenheitResponse">
        <wsdl:part element="ns0:celsiusToFarenheitResponse" name="parameters"/>
    </wsdl:message>
    <wsdl:portType name="ConverterPortType">
        <wsdl:operation name="farenheitToCelsius">
            <wsdl:input message="ns0:farenheitToCelsiusRequest" wsaw:Action="urn:farenheitToCelsius"/>
            <wsdl:output message="ns0:farenheitToCelsiusResponse" wsaw:Action="urn:farenheitToCelsiusResponse"/>
        </wsdl:operation>
        <wsdl:operation name="celsiusToFarenheit">
            <wsdl:input message="ns0:celsiusToFarenheitRequest" wsaw:Action="urn:celsiusToFarenheit"/>
            <wsdl:output message="ns0:celsiusToFarenheitResponse" wsaw:Action="urn:celsiusToFarenheitResponse"/>
        </wsdl:operation>
    </wsdl:portType>
    <wsdl:binding name="ConverterSOAP11Binding" type="ns0:ConverterPortType">
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="farenheitToCelsius">
            <soap:operation soapAction="urn:farenheitToCelsius" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="celsiusToFarenheit">
            <soap:operation soapAction="urn:celsiusToFarenheit" style="document"/>
            <wsdl:input>
                <soap:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterSOAP12Binding" type="ns0:ConverterPortType">
        <soap12:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
        <wsdl:operation name="farenheitToCelsius">
            <soap12:operation soapAction="urn:farenheitToCelsius" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="celsiusToFarenheit">
            <soap12:operation soapAction="urn:celsiusToFarenheit" style="document"/>
            <wsdl:input>
                <soap12:body use="literal"/>
            </wsdl:input>
            <wsdl:output>
                <soap12:body use="literal"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:binding name="ConverterHttpBinding" type="ns0:ConverterPortType">
        <http:binding verb="POST"/>
        <wsdl:operation name="farenheitToCelsius">
            <http:operation location="Converter/farenheitToCelsius"/>
            <wsdl:input>
                <mime:content part="farenheitToCelsius" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="farenheitToCelsius" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
        <wsdl:operation name="celsiusToFarenheit">
            <http:operation location="Converter/celsiusToFarenheit"/>
            <wsdl:input>
                <mime:content part="celsiusToFarenheit" type="text/xml"/>
            </wsdl:input>
            <wsdl:output>
                <mime:content part="celsiusToFarenheit" type="text/xml"/>
            </wsdl:output>
        </wsdl:operation>
    </wsdl:binding>
    <wsdl:service name="Converter">
        <wsdl:port binding="ns0:ConverterSOAP11Binding" name="ConverterSOAP11port_http">
            <soap:address location="http://localhost:8080/ProyectoMaster/services/Converter"/>
        </wsdl:port>
        <wsdl:port binding="ns0:ConverterSOAP12Binding" name="ConverterSOAP12port_http">
            <soap12:address location="http://localhost:8080/ProyectoMaster/services/Converter"/>
        </wsdl:port>
        <wsdl:port binding="ns0:ConverterHttpBinding" name="ConverterHttpport">
            <http:address location="http://localhost:8080/ProyectoMaster/services/Converter"/>
        </wsdl:port>
    </wsdl:service>
</wsdl:definitions>
